{% extends 'base.html' %}

{% block title %}Lista de Usuarios - Semana 13{% endblock %}

{% block content %}
    <h1>Usuarios Registrados (MySQL)</h1>
    <div style="margin-bottom: 20px;">
        <a href="{{ url_for('agregar_usuario') }}" class="btn-primario">➕ Registrar Nuevo Usuario</a> | 
        <a href="{{ url_for('inicio') }}">🏠 Volver al Inicio</a>
    </div>
    
    <table class="tabla-productos" border="1" style="width: 100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo Electrónico</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id_usuario }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.mail }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}