{% extends 'base.html' %}
{% block title %}Lista de Usuarios{% endblock %}
{% block content %}
    <h1>Usuarios Registrados (MySQL)</h1>
    <div style="margin-bottom: 20px;">
        <a href="{{ url_for('agregar_usuario') }}">➕ Registrar Nuevo Usuario</a>
    </div>
    
    <table border="1" style="width: 100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo Electrónico</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id_usuario }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}